 #button{
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;

}

img{
    width: auto;
    height: 24px;
    object-fit: contain;
}

body{
    display: grid;
    grid-template:
    "header header header" minmax(10px, auto)
    "aside section section" minmax(600px, auto)
    / 0.4fr 1fr 1fr;

}

.header{
    display: grid;
    height: 40px;
    grid-area: header;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
}

.header .left-header {
    display: flex;
    align-items: center;
    text-align: left ;
    gap: 20px;
    padding: 0 16px ;
}


.header .mid-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid-header .search{
    display: flex;
    align-items: center;
    width: 80%;
}

.search input{
    border: 1px solid black;
    width: 100%;
    height: 24px;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    padding-left: 5px;
}

.search #button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    width: 15%;
    height: 24px;
}

.search #button img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.header .right-header{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 16px;
    gap: 20px;
}

.aside{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(10, 40px);
    padding: 16px;
}

.aside button{
    display: flex;
    font-size: 0.6rem;
    text-align: center;
    align-items: center;
    gap: 20px;
    font-weight: 800;
}

.section{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 400px));
    grid-area: section;
    padding: 16px;
}

.video-section{
    padding: 10px;
}

.video-section .image-section img{
    width: 100%;
    height: 100%;
}

.video-section .avatar-video{
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    text-align: left;
}

.video-section .avatar-video img{
    padding-right: 10px;
}

.video-section .info-video{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video-section .info-video h1{
    font-size: 0.8rem;
    font-weight: 900;
}

.info-video .sub-info{
    color: #aaa;
    font-size: 0.5rem;
    text-shadow: 0px 0px .5px black;
}